---
import FormattedDate from "@components/FormattedDate.astro";
import ArticleImage from "@components/ContentItems/ArticleImage/index.astro";
const { post } = Astro.props;
const { cover, date, description, title } = post.data;
---

<a href={`/posts/${post.id}`} class="box teaser flow">
	{cover && <ArticleImage width={600} image={cover.src} alt={cover.alt} />}
	<h2>
		{title}
	</h2>
	<FormattedDate date={date} />
	<p>{description}</p>
</a>
