---
import FormattedDate from "@components/FormattedDate.astro";
const {
	h,
	post: {
		id,
		data: { date, description, title },
	},
} = Astro.props;
const HLevel = h ? `h${h}` : `h2`;
---

<style>
	:is(h2, h3, h4) {
		text-wrap: auto;
		max-width: none;
		margin-bottom: var(--text-s);
	}
</style>
<div class="flow">
	<HLevel>
		<a href={`/posts/${id}`}>
			{title}
		</a>
	</HLevel>

	<p><FormattedDate date={date} /> | {description}</p>
</div>
