---
import BlogPost from "../layouts/BlogPost.astro";
import { getCollection } from "astro:content";
import Teaser from "@components/PageItems/Teaser/index.astro";
const title = "Welcome to Thudfactor";
const date = new Date("2024-02-28T07:53:27-04:00");
const updatedDate = new Date("2024-05-30T07:08:27-04:00");

const cover = {
	src: import("../images/graybeard.png"),
	alt: "A sign on the blue ridge parkway reading View Graybeard Mountain. The view is completely obscured by fog.",
	description:
		"The view of Graybeard Mountain in North Carolina from the Blue Ridge Parkway, September 2002. It was a little overcast.",
	attribution: {
		name: "John Williams",
	},
};

const posts = (await getCollection("posts"))
	.sort((a, b) => a.data.date.valueOf() - b.data.date.valueOf())
	.reverse()
	.slice(0, 6);
---

<BlogPost
	title={title}
	description={"Thudfactor is the personal blog of J H Williams, web developer"}
	date={date}
	updatedDate={updatedDate}
	cover={cover}
>
	<p>
		For now you probably want the <a href="/posts/">blog archives</a>, but maybe you would like to
		know <a href="/about">who I am</a>. The <a href="/feed.xml">RSS feed</a> is only marginally less
		attractive.
	</p>
	<div class="pagination-grid">
		{posts.map(post => <Teaser post={post} />)}
	</div>
	<div style="text-align: center;">
		<a href="/posts/">More posts…</a>
	</div>
</BlogPost>
