---
import { Image } from "astro:assets";
const { cover } = Astro.props;
---

<figure class="flow">
	<div>
		<Image src={cover.src} alt={cover.alt} />
		<slot />
	</div>
	<figcaption>
		{cover.description}
		{
			cover.attribution && (
				<span>
					<b>Image credit: </b>
					{cover.attribution.link && <a href={cover.attribution.link}>{cover.attribution.name}</a>}
					{!cover.attribution.link && cover.attribution.name && cover.attribution.name}
					{cover.attribution.license && (
						<a href={cover.attribution.license.link}>{cover.attribution.license.name}</a>
					)}
				</span>
			)
		}
	</figcaption>
</figure>
