---
import FormattedDate from "./FormattedDate.astro";
import '../styles/content.css';
const { title, date, updatedDate, cover } = Astro.props;
---
<style>
@layer layout {
  article {
    container: article / inline-size;
  }
}
@layer components {
  article {
    & :global(table) {
      border-width: 4px;
      border-style: ridge;
      border-color: white;
      width: 100%;
      border-collapse: collapse;

      td, th {
        padding: 1rem;
        border-width: 4px;
        border-style: ridge;
        border-color: white;
      }

      caption {
        margin-block: 1rem;
      }
    }
  }
}
</style>
<article>
  { cover &&
    <div class="hero-image">
      <img width={1020} height={510} src={cover.src.src} alt={cover.alt} />
      <p><b>Above: </b>
        { cover.description }
      </p>
      {
        cover.attribution && (
          <p>
            <b>Image credit: </b>
            { cover.attribution.link &&
              <a href={cover.attribution.link}>
                { cover.attribution.name }
              </a>
            }
            {
              !cover.attribution.link && cover.attribution.name && (
                <span>{ cover.attribution.name }</span>
              )
            }
            { cover.attribution.license && (
              <a href={cover.attribution.license.link}>
                { cover.attribution.license.name }
              </a>
            ) }
          </p>
        )
      }
    </div>
  }
  <div class="prose">
    <div class="title">
      <h1>{title}</h1>
      <div class="date">
        { date && <FormattedDate date={date} /> }
        {
          updatedDate && date !== updatedDate && (
            <div class="last-updated-on">
              Last updated on <FormattedDate date={updatedDate} />
            </div>
          )
        }
      </div>
    </div>
    <slot />
  </div>
</article>
