---
import Title from "./ContentItems/Title/index.astro";
import Hero from "./ContentItems/Hero/index.astro";
const { title, date, updatedDate, cover } = Astro.props;
---

<style>
	@layer content {
		.title-container {
			img {
				width: 100%;
				height: auto;
			}

			p {
				font-size: var(--font-size-1);
				color: var(--stone-8);
			}
		}
	}
</style>
<article>
	<div class="title-container">
		{
			cover && (
				<Hero cover={cover}>
					<Title date={date} updatedDate={updatedDate} title={title} />
				</Hero>
			)
		}
		{!cover && <Title date={date} updatedDate={updatedDate} title={title} />}
	</div>
	<div class="prose">
		<slot />
	</div>
</article>
