---
import Title from "./ContentItems/Title/index.astro";
import Hero from "./ContentItems/Hero/index.astro";
const { title, date, updatedDate, cover } = Astro.props;
---

<div class="flow">
	<div class="title-container">
		{
			cover && (
				<Hero cover={cover}>
					<Title date={date} updatedDate={updatedDate} title={title} />
				</Hero>
			)
		}
		{!cover && <Title date={date} updatedDate={updatedDate} title={title} />}
	</div>
	<article class="flow">
		<slot />
	</article>
</div>
